@model IEnumerable<FiveStarDemo.Models.FiveStarResidentInformation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resident Listing</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    </p>

@foreach (var item in Model)
{
<hr>
    <div class="resident-card">
        <img class="card-img" src="~/Content/Images/5Star_CardPhoto.PNG" alt="Resident Profile" style="width:20%">
        <div class="card-container">
            <table class="table" style="width:100%">
                <tr>
                    <th>
                        @Html.LabelFor(model => model, "ID")
                    </th>
                    <th>
                        @Html.LabelFor(model => model, "SSN")
                    </th>
                    <th>
                        @Html.LabelFor(model => model, "First Name")
                    </th>
                    <th>
                        @Html.LabelFor(model => model, "Last Name")
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResInfo_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResInfo_SSN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResInfo_Fname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResInfo_Lname)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ResInfo_ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ResInfo_ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ResInfo_ID })
                    </td>
                </tr>
            </table>
        </div>
    </div>
<hr>
}
